* {
  padding: 0;
  margin: 0;
}

:root {
  --black: #111517;
  --white: #fff;
  --bg: #fafafa;
}

html {
  font-size: 14px;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  color: var(--black);
}